@import "./rose-pine.css";

* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent; /* Makes the bar float */
}

#workspaces,
#clock,
#pulseaudio,
#network,
#tray {
  background: @base;
  color: @text; /* Everything is now neutral */
  padding: 0 16px;
  margin: 0 4px;
  border-radius: 10px;
}

/* Zen Logic: Only use color for focus or alerts */

#workspaces button {
  color: @muted;
}

#workspaces button.focused {
  color: @rose; /* Focus indicator */
}

#clock {
  background: @base;
  color: @foam;
  padding: 0 20px; /* Increased padding for the longer date */
  font-weight: bold;
  border-radius: 10px;
}

#pulseaudio.muted {
  color: @love; /* Only show red when sound is off */
}

#custom-brightness {
  background: @base;
  color: @gold; /* Using Gold for light/sun vibe */
  padding: 0 15px;
  margin: 0 4px;
  border-radius: 10px;
}

#custom-temperature {
  background: @base;
  color: @iris; /* Rosé Pine purple */
  padding: 0 15px;
  margin: 0 4px;
  border-radius: 10px;
}

#custom-temperature.off {
  color: @subtle; /* Grayscale when inactive */
}

#network.disconnected {
  color: @love; /* Only show red when internet is down */
}

#custom-power {
  background: @base;
  color: @love;
  padding: 0 15px;
  margin: 0 4px;
  border-radius: 10px;
  font-size: 16px;
}

#tray {
  padding-right: 12px;
}
