[general]
import = ["rose-pine.toml"]

[window]
padding = { x = 12, y = 10 }
opacity = 0.88
dynamic_padding = true

[font]
size = 12.0

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

